.workContainer{
    height: 500px;
    /* width: 100%; */
    padding: 0px 500px;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.workContent{
    padding: 0px 20px;
    border-left: 1px solid white;
    font-size: 20px;
    line-height: 30px;
}